{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="form-row mt-5">
        <div class="col-md-6 offset-md-3 align-self-center">
            <div style="border:1px solid black;border-radius:6px;">
                <div class="card text-center">
                    <h1 class="card-header">Connexion</h1>
                    <div class="card-body">
                        <form class="needs-validation" id="form" method="post">

                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="justify-content-center">
                                <input id="submit_button" type="submit" class="btn btn-primary" value="Envoyer">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for item in app.flashes('notice') %}
        <p>{{ item }}</p>
    {% endfor %}
{% endblock %}
